@model MyRoots.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzanie swoim hasłem";
}

<h2>@ViewBag.Title</h2>
<div style="text-align:center;">
    <p class="text-success">@ViewBag.StatusMessage</p>
</div>
<div>
    <h4>Change your account settings</h4>
    <hr />
    
</div>
