@model MyRoots.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzanie swoim hasłem";
}

<h2>@ViewBag.Title</h2>
@if (@ViewBag.StatusMessage != null)
{
<div class="alert alert-success alert-dismissable fade in" style="text-align:center" id="znikaj">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <span class="alert-success">
        <p class="text-success">@ViewBag.StatusMessage</p>
        </span>

</div>
}
<div>
    <h4>Change your account settings</h4>
    <hr />

</div>
