@{
    ViewBag.Title = "Home Page";
}


@Html.ActionLink("UserName", "GetUserEmail", "MyRoot");


<section id="Home" class="container-fluid">

</section>

<script src="~/Js/Implementation/Home.js"></script>