
@{
    ViewBag.Title = "AccountManagement";
}

<h2>AccountManagement</h2>

<section id="user">
    <form>
       Imie: <input type="text" data-bind="textInput: firstName" /> <br/>
       Nazwisko: <input type="text" data-bind="textInput: lastName"  /> <br/>
         <input type="submit" data-bind="click: changeName" value="Zmień Imie i Nazwisko" />
    </form>

    <br />

    <form>
        <img data-bind="attr: {src:  avatar}" />
        <input type="file" name="file" accept="image/*" data-bind="event: { change: function() {uploadImage($element.files[0])}}" />
       <!-- <input type="submit" value="Wybierz" data-bind="click: changeAvatar" />
        -->
    </form>

</section>

@using (Html.BeginForm("UploadAvatar", "MyRoot", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
}



@section Scripts
{
    <script src="@Url.Content("~/Js/Implementation/AccountManagement.js")"></script>
}
