@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="user">
    <div style="width: 40%;margin: 0 auto;">

        <h3>Zmień swoje hasło </h3>
        <form data-bind="submit: sendChangedData">
            <div class="form-group">
                <label for="fname">Podaj nowe hasło:</label>
                <input type="password" id="passwd" class="form-control" name="password"  data-bind="textInput: password, event :{change: function(){ checkPassword()}}"> 
                <br />
                <div data-bind="visible: showPasswordMessage">
                    <label style="color : red;"> Hasło musi zawierać co najmniej jedną literę i jedną liczbę.</label>
                </div>
            </div>
            <div class="form-group">
                <label for="lname">Powtórz hasło:</label>
                <input type="password" id="passwdC" class="form-control" name="passwordConfirm"  data-bind="textInput: passwordConfirm, event :{change: function(){ equalPassword()}}" >
                 <br/>
                <div data-bind="visible: showConfirmMessage"> 
                  
                    <label style="color : red;"> Hasła są róźne.</label>
                </div>
            </div>
            <br/>
            <input type="submit" value="Zmień hasło" class="btn btn-primary" />

        </form>
        <br />

        <div data-bind="visible: showTrueMessage">
            <label style="color : green;"> Hasło zostało zmienione.</label>
        </div>

    </div>

</section>

@section Scripts
{
    <script src="@Url.Content("~/Js/Implementation/ChangePassword.js")"></script>
}
