
@{
    ViewBag.Title = "TreeView";
}

<link rel="stylesheet" type="text/css" href="~/Content/treeView.css" />
<section id="treeView">
    <div id="resultAlert" class="alert alert-success" style="display: none">
        <a class="close" onclick="$('#resultAlert').hide()">×</a>
        <strong>Pomyślnie dodano członka rodziny</strong>
    </div>
    <button data-bind="click:function(){$root.ShowPopUp();}">Dodaj usera</button>
    @*<div id="tree" class="tree">
            GOWNO JEBAC PETRU
        </div>*@
    @*<div class="familymemberAdd">
            Dodaj<br/> członka</br> rodu:</br>
            <a href="#" data-bind="click: $root.familyMemberForm">
                <span class="glyphicon glyphicon-plus-sign addIcon"></span>
            </a>&nbsp
              Drukuj<br />&nbsp drzewo</br>
            <a href="#" data-bind="click: function(){$root.printTree('tree')} ">
                <span class="glyphicon glyphicon-print addIcon"></span>
            </a>
        </div>*@

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form>
                    <h3>Dodawanie członka rodziny</h3>
                    <div class="input-group">
                        <label>Imię</label>
                        <input type="text" class="form-control" placeholder="Imię" aria-describedby="basic-addon2" data-bind="textInput:familyMemberToAdd().FirstName">
                    </div>
                    <div class="input-group">
                        <label>Nazwisko</label>
                        <input type="text" class="form-control" placeholder="Nazwisko" aria-describedby="basic-addon2" data-bind="textInput:familyMemberToAdd().LastName">
                    </div>
                    <div class="input-group">
                        <label>Data urodzenia</label>
                        <input type="date" class="form-control" aria-describedby="basic-addon2" data-bind="datePicker:familyMemberToAdd().DateOfBirth, datePattern: 'MM-DD-YYYY'">
                    </div>
                    <div class="input-group">
                        <label>Data śmierci</label>
                        <input type="date" class="form-control" aria-describedby="basic-addon2" data-bind="datePicker:familyMemberToAdd().DateOfDeath, datePattern: 'MM-DD-YYYY'">
                    </div>
                    <div class="input-group">
                        <label>Miejsce urodzenia</label>
                        <input type="text" class="form-control" aria-describedby="basic-addon2" data-bind="textInput:familyMemberToAdd().BirthPlace">
                    </div>
                    <div class="input-group">
                        <label>Fotografia</label>
                        <input type="file" class="form-control" aria-describedby="basic-addon2" data-bind="event: { change: function() { UploadImage($element.files[0]) } }">
                    </div>
                    <div class="form-group">
                        <label for="comment">Opis</label>
                        <textarea class="form-control" rows="5" id="comment" data-bind="textInput:familyMemberToAdd().Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Stopień pokrewieństwa</label>
                        <select class="form-control" id="sel1" data-bind="options: degreesOfRelationShipsArray, optionsText:'Name',optionsValue:'DegreeOfRelationshipId', value:selectedDeegreeOfRelationShip">
                        </select>
                    </div>
                    <div class="input-group">
                        <input type="submit" value="Dodaj" data-bind="click:function(){AddFamilyMember();}">
                    </div>
                </form>
                @*<h5> Dodawanie członka rodziny</h5>*@
                @*<label for="fname">Imię</label>
                <input type="text" id="fname" name="firstname" data-bind="textInput:familyMemberToAdd().FirstName" placeholder="Imię">
                <h3>Imię :</h3><input type="text" data-bind="textInput:familyMemberToAdd().FirstName"><br />
                <h3>Nazwisko :</h3><input type="text" data-bind="textInput:familyMemberToAdd().LastName"><br />
                <h3>Data urodzenia :</h3><input type="date" data-bind="datePicker:familyMemberToAdd().DateOfBirth, datePattern: 'MM-DD-YYYY'"><br />
                <h3>Miejsce urodzenia :</h3><input type="text" data-bind="textInput:familyMemberToAdd().BirthPlace, "><br />
                <h3>Data śmierci :</h3><input type="date" data-bind="datePicker:familyMemberToAdd().DateOfDeath, datePattern: 'MM-DD-YYYY'"><br />
                <h3>Obrazek :</h3><input id="fmImage" type="file" data-bind="event: { change: function() { UploadImage($element.files[0]) } }"><br />
                <h3>Opis :</h3><input type="text" data-bind="textInput:familyMemberToAdd().Description"><br />
                <h3>Stopień pokrewieństwa :</h3><select data-bind="options: degreesOfRelationShipsArray, optionsText:'Name',optionsValue:'DegreeOfRelationshipId', value:selectedDeegreeOfRelationShip"></select>

                <input type="button" value="update" data-bind="click:function(){AddFamilyMember();}">*@
            </div>
        </div>
    </div>

</section>



@section Scripts
{
    <script src="@Url.Content("~/Js/Implementation/TreeView.js")"></script>
}
